{% extends "ModuleRegisrationSystem/base.html" %}
{% block content %}

    <h1>My Registrations</h1>

<ul>
{% for registration in registrations %}

    <article class="media content-section">
        <div class="media-body">
        <div class="article-metadata">

            <small class="text-muted">{{ registration.module.Code }}</small>
    </div>
    <h2><a class="article-title" href="#">{{ registration.module }}</a></h2>
    <p class="article-content">{{ module.details }}</p>

    <form method="post" action="{% url 'ModuleRegisrationSystem:module-deregistration' registration.id %}">
        {% csrf_token %}
        <button type="submit" class="btn text-danger">Deregister for Module</button>
    </form>

{% endfor %}
</ul>
{% endblock content %}